.content{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}
.cont-title{
    position: absolute;
    top: 2px;
    padding-top: 50px;;
    text-align: center;
}
.text-1{
color: #3c448d;
font-weight: bolder;
font-size: 4rem;
line-height: 62px;
margin: 1rem 0;
}

.left-content {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-left: 1rem; 
}
.box-contact{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 50%;
    height: 30%;
}
.e_mail{
    font-size: 25px;
    align-content: center;
    /* justify-content: center; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mobile{
    font-size: 25px;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    align-content: center;
}




.right-content {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 50%;
    grid-column: 2;
    height: 100%;
    padding-right: 1rem; 
}

.cont-img-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
}
.img{
    height: 70%;
}
.linkedin{
    width: 40px;
    font-size: 25px;
    display: flex;
    align-items: center;
    align-content: center;
}

.link_logo{
    width: 40px;
    cursor: pointer;
}

.link_ref{
    font-style: none;
    font-size: 30px;
}

.mat-icon {
    font-size: 42px;
    align-items:center;
    display: flex;
    margin-right: 15px;
}