<div class="content">
    <div class="cont-title">
            <app-wavy class="text-1" [value]="'Contact'" [random]="true"></app-wavy>
    </div>
    <div class="left-content">
        <div class="collaps_box">
            <div>
              <input type="checkbox" id="section1" class="collaps_input">
              <label for="section1" name="lol" class="collaps_label">@Info</label>
              <div class="collaps_content">
                <table>
                  <thead>
                      <tr>
                          <th>Personal-Data:</th>
                          <th></th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="expandable">
                          <td>E-mail:</td>
                          <td></td>
                          <td>francescorobertopirri@gmail.com</td>
                      </tr>
                      <tr>
                          <td>Phone:</td>
                          <td></td>
                          <td>345 45 21 660</td>
                      </tr>
                  </tbody>
              </table>
              </div>
            </div>
          </div>

    </div>
    <div class="right-content">
        <div class="cont-img-contact">
            <img class="img" src="/assets/img/img-contact.svg" alt="">
        </div>
    </div>
</div>