<div class="container">
    <div class="left-content">
        <div class ="container1">
            <div class="card">
                <div class="box">
                    <div class="insiderbox">
                        <div class="contentwr">
                            <div class="skills"><h2 class="text">Skills</h2></div>
                            <div class="wrap">
                            <div class="javascript">
                                <h3>Javascript</h3>
                                <div class="bar">
                                </div>
                            </div>
                            </div>
                            <div class="wrap">
                            <div class="angular">
                                <h3>Angular</h3>
                                <div class="bar">
                                </div>
                            </div>
                            </div>
                            <div class="wrap">
                                <div class="scss">
                                    <h3>Scss</h3>
                                    <div class="bar">
                                    </div>
                                </div>
                                </div>
                            <div class="wrap">
                            <div class="html">
                                <h3>Html</h3>
                                <div class="bar">
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-content">
        <div class="home-bg-image d-flex f-center">
            <img class="alberi" src="assets/img/alberi.svg">
            <img src="assets/img/undraw.svg">
        </div>
    </div>
</div>          