<main class="h-100">
    <div class="left-content">
        <div class="home-container">
            <div class="home-content">
                <span><\h1>HELLO<\h1></span>
                <div class="logo-label"><app-wavy class="logo-label" [value]="' I\'m F.Pirs'" [random]="true"></app-wavy></div>
                <div>Your friendly neighborhood freelance Front-End Developer</div>
                <div></div>
                <!-- <button mat-raised-button color="primary">Hire me</button> -->
                <button routerLink="/contact" matRipple class="btn rised mt-4">Hire Me</button>
            </div>
        </div>
    </div>
    <div class="right-content">
        <div class="home-bg-image d-flex f-center">
            <img class="alberi" src="assets/img/alberi.svg">
            <img src="assets/img/undraw.svg">
        </div>
    </div>
</main>