<div class="container">
    <div class="cont-img noselect">
        <img class="img-bg-left "src="assets/img/watercolor-bg.jpg">
        <img class="img-bg-right "src="assets/img/watercolor-bg.jpg">
    </div>
    <div class="cont-bg">
        <div class="square">
            <div class="cont-text">
                <app-wavy class="text-1" [value]="' I\'m F.Pirs'" [random]="true"></app-wavy><br>
                <app-wavy class="text-2" [value]="'Web Developer.'" ></app-wavy>
            </div>
        </div>
        <div class="cont-b">
            <a mat-button routerLink="/portfolio">PORTFOLIO</a>
        </div>
    </div>
</div>
